.button1 {
    font-size: 200%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 25%;
    height: 30%;
    background: radial-gradient(#FF0000,#A40000);
    position:absolute;
    left:11%;
    bottom:23%;
}

.button2 {
    font-size: 200%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 210px;
    height: 210px;
    background: radial-gradient(#239A25,#09E60D);
    position:absolute;
    bottom:20%;
    left:53%;
}

.button3 {
    font-size: 100%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 150px;
    height: 150px;
    background: radial-gradient(#40B2B2,#1BFFFF);
    position:absolute;
    bottom:50%;
    left:35%;
    
}

.button4 {
    font-size: 100%;
    border-radius: 40%;
    border: 2px double white; 
    background-color:red;
    width: 140px;
    height: 140px;
    background: radial-gradient(#E938E3,#F306EB);
    position:absolute;
    bottom:53%;
    left:70%;
}