.button1 {
    font-size: 200%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 220px;
    height: 220px;
    background: radial-gradient(#FF0000,#A40000);
    position:relative;
    left:0%;
    bottom:-35%;
}

.button2 {
    font-size: 200%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 210px;
    height: 210px;
    background: radial-gradient(#239A25,#09E60D);
    position:relative;
    bottom:-28%;
    left:15%;
}

.button3 {
    font-size: 100%;
    border-radius: 50%;
    border: 2px double white; 
    background-color:red;
    width: 150px;
    height: 150px;
    background: radial-gradient(#40B2B2,#1BFFFF);
    position:relative;
    bottom:20%;
    left:35%;
    
}

.button4 {
    font-size: 100%;
    border-radius: 40%;
    border: 2px double white; 
    background-color:red;
    width: 140px;
    height: 140px;
    background: radial-gradient(#E938E3,#F306EB);
    position:relative;
    bottom:20%;
    left:20%;
}