<!doctype html>

<html>
    <head>
        <title>Royally</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="styleSheet" href="style.css" type="text/css">
        <meta charset="utf-8">
        
    </head>
    
    <body>
        <header>
            <nav>
                <br>
                <a href="view/home.html">Home </a>|
                <a href="view/home.html">Portfolio </a>|
                <a href="view/home.html">Price </a>|
                <a href="view/home.html">Contacts </a>
            </nav>
        </header>
            
        <article style="text-align:center; height:15%;">
            Logo
        </article>
            
        <article>
                треба зробити кнопки навігації
                <br>
        </article>
            
        <footer>
            <nav>
                 лінки на соц мережі
            </nav>
            Royally@2016|PrivatePolice
        </footer>
    </body>
</html>