<!doctype html>

<html>
    <head>
        <title>Royally</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="styleSheet" href="../style.css" type="text/css">
        <meta charset="utf-8">
        
    </head>
    
    <body>
        <header>
            <nav>
                <br>
                <a href="home.html"><button class="button">Home</button></a>
                <a href="portfolio.html"><button class="button">Portfolio</button></a>
                <a href="price.html"><button class="button">Price</button></a>
                <a href="contacts.html"><button class="button">Contacts</button></a>
            </nav>
        </header>
            
        <article style="text-align:center; height:15%;">
            Logo
        </article>
            
        <article>
                треба зробити кнопки навігації
                <br>
        </article>
            
        <footer>
            <nav>
                 лінки на соц мережі
            </nav>
            Royally@2016|PrivatePolice
        </footer>
    </body>
</html>